@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #0d0d0d;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-electric: var(--electric);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --aspect-portrait: 2 / 3;
}

@layer base {
  main {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: clamp(2rem, 12vw, 10rem);
    line-height: 0.85;
    font-weight: 400;
    letter-spacing: -0.5rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: clamp(1rem, 8vw, 2rem);
    line-height: 1.12;
    font-weight: 550;
    letter-spacing: -0.02rem;
  }
  h3 {
    font-size: clamp(0.75rem, 6vw, 0.9rem);
    line-height: 1;
    font-weight: 550;
    letter-spacing: -0.05rem;
    text-transform: uppercase;
  }
  button:not(:disabled) {
    cursor: pointer;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-overused);
}
.border-line {
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
}

.dark {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(0% 0 0);
}
